* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

canvas#game_canvas {
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}